<div class="tab-content p-24" fxLayout="column" fusePerfectScrollbar>

    <form name="msentitycamelGeneralInfoForm" [formGroup]="msentitycamelGeneralInfoForm" class="w-100-p"
      fxLayout="column" class="mat-white-bg p-24 mr-24 mb-24">

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between  start">
        <div class="h2">{{'msnameuppercase.DETAILS.GENERAL_INFO' | translate}}</div>
        <form *ngIf="msentitycamelStateForm" name="msentitycamelStateForm" [formGroup]="msentitycamelStateForm" fxLayout="column">
          <mat-slide-toggle formControlName="state" color="accent" (change)="onmsentitypascalStateChange($event)">
            <label *ngIf="msentitycamelStateForm.controls['state'].value">{{'msnameuppercase.DETAILS.ENABLED' | translate}}</label>
            <label *ngIf="!msentitycamelStateForm.controls['state'].value">{{'msnameuppercase.DETAILS.DISABLED' | translate}}</label>
          </mat-slide-toggle>
        </form>
      </div>

      <mat-form-field class="w-100-p">
        <input matInput name="name" formControlName="name" maxlength="15" placeholder="{{'msnameuppercase.DETAILS.NAME' | translate}}">
        <mat-error *ngIf="msentitycamelGeneralInfoForm.hasError('required', ['name'])">
          {{'msnameuppercase.NAME_REQUIRED' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100-p" fxLAyout="column">
        <textarea matInput matTextareaAutosize name="description" formControlName="description"
          maxlength="350" placeholder="{{'msnameuppercase.DETAILS.DESCRIPTION' | translate}}"
          matAutosizeMinRows="1" matAutosizeMaxRows="5" >
        </textarea>
        <mat-error *ngIf="msentitycamelGeneralInfoForm.hasError('required', ['description'])">
          {{'msnameuppercase.DESCRIPTION_REQUIRED' | translate}}
        </mat-error>
      </mat-form-field>


      <div class="mt-16">
        <button mat-raised-button *ngIf="pageType === 'new'" (click)="createmsentitypascal()"
          [disabled]="msentitycamelGeneralInfoForm.invalid || msentitycamelGeneralInfoForm.pristine">
          {{'msnameuppercase.CREATE' | translate}}
        </button>
        <button mat-raised-button *ngIf="pageType === 'edit'" (click)="updatemsentitypascalGeneralInfo()"
          [disabled]="msentitycamelGeneralInfoForm.invalid || msentitycamelGeneralInfoForm.pristine">
          {{'msnameuppercase.UPDATE' | translate}}
        </button>
      </div>

    </form>

</div>
