<div class="tab-content p-24" fxLayout="column" fusePerfectScrollbar>

    <form name="vehicleFeaturesForm" [formGroup]="vehicleFeaturesForm" class="w-100-p"
      fxLayout="column" class="mat-white-bg p-24 mr-24 mb-24">

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between  start">
        <div class="h2">{{'VEHICLE.DETAILS.GENERAL_INFO' | translate}}</div>
        <form *ngIf="vehicleStateForm" name="vehicleStateForm" [formGroup]="vehicleStateForm" fxLayout="column">
          <mat-slide-toggle formControlName="state" color="accent" (change)="onVehicleStateChange($event)">
            <label *ngIf="vehicleStateForm.controls['state'].value">{{'VEHICLE.DETAILS.ENABLED' | translate}}</label>
            <label *ngIf="!vehicleStateForm.controls['state'].value">{{'VEHICLE.DETAILS.DISABLED' | translate}}</label>
          </mat-slide-toggle>
        </form>
      </div>

      <mat-form-field class="w-100-p">
        <input matInput name="name" formControlName="name" maxlength="15" placeholder="{{'VEHICLE.DETAILS.NAME' | translate}}">
        <mat-error *ngIf="vehicleFeaturesForm.hasError('required', ['name'])">
          {{'VEHICLE.NAME_REQUIRED' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100-p" fxLAyout="column">
        <textarea matInput matTextareaAutosize name="description" formControlName="description"
          maxlength="350" placeholder="{{'VEHICLE.DETAILS.DESCRIPTION' | translate}}"
          matAutosizeMinRows="1" matAutosizeMaxRows="5" >
        </textarea>
        <mat-error *ngIf="vehicleFeaturesForm.hasError('required', ['description'])">
          {{'VEHICLE.DESCRIPTION_REQUIRED' | translate}}
        </mat-error>
      </mat-form-field>


      <div class="mt-16">
        <button mat-raised-button *ngIf="pageType === 'new'" (click)="createVehicle()"
          [disabled]="vehicleFeaturesForm.invalid || vehicleFeaturesForm.pristine">
          {{'VEHICLE.CREATE' | translate}}
        </button>
        <button mat-raised-button *ngIf="pageType === 'edit'" (click)="updateVehicleFeatures()"
          [disabled]="vehicleFeaturesForm.invalid || vehicleFeaturesForm.pristine">
          {{'VEHICLE.UPDATE' | translate}}
        </button>
      </div>

    </form>

</div>
