<div id="vehicle" class="page-layout carded left-sidenav" fusePerfectScrollbar>
  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <mat-sidenav-container>
    <!-- SIDENAV -->
    <mat-sidenav
      class="sidenav"
      align="start"
      mode="side"
      opened="true"
      fuseMatSidenavHelper="carded-left-sidenav"
      mat-is-locked-open="gt-md"
    >
      <!-- SIDENAV HEADER -->
      <div
        fxLayout="column"
        fxLayoutAlign="space-between start"
        class="header p-24 pb-4"
        ngClass="mat-accent-bg"
        ngClass.gt-md="white-fg"
      >
        <div class="logo" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon
            class="logo-icon s-32"
            *fuseIfOnDom
            [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }"
            >create</mat-icon
          >
          <span
            class="logo-text"
            *fuseIfOnDom
            [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
            >{{ "VEHICLE.TITLE" | translate }}</span
          >
        </div>

        <div
          class="account"
          fxFlex
          fxFill
          fxLayout="row"
          fxLayoutAlign="space-between end"
        >
          <span
            class="mat-title"
            *fuseIfOnDom
            [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
            >{{ "VEHICLE.FILTER" | translate }}
          </span>
        </div>
      </div>
      <!-- / SIDENAV HEADER -->

      <!-- SIDENAV CONTENT -->
      <div
        class="content"
        fusePerfectScrollbar
        *fuseIfOnDom
        [@animate]="{ value: '*', params: { y: '50px' } }"
      >
        <div class="nav mt-20" fxLayout="column">
          <form
            fxLayout="column"
            fxLayoutAlign="start"
            fxFlex="100"
            name="form"
            [formGroup]="filterForm"
          >
            <div
              fxLayout="column"
              fxLayoutAlign="space-between center"
              fxFlex="100"
            >
            <mat-form-field>
              <input
                matInput
                placeholder="{{'VEHICLE.NAME' | translate}}"
                formControlName="name"
                id="name"
                maxlength="20"
              />
            </mat-form-field>

              <mat-form-field>
                  <input
                    matInput
                    placeholder="{{'VEHICLE.CREATOR_USER' | translate}}"
                    formControlName="creatorUser"
                    id="creatorUser"
                    maxlength="20"
                  />
              </mat-form-field>

              <mat-form-field>
                <input
                  matInput
                  [matDatepicker]="pickerCreationDate"
                  placeholder="{{'VEHICLE.CREATION_DATE' | translate}}"
                  formControlName="creationTimestamp"/>
                <mat-datepicker-toggle
                  matSuffix
                  [for]="pickerCreationDate"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  [twelveHour]="false"
                  type="datetime"
                  #pickerCreationDate
                ></mat-datepicker>
              </mat-form-field>

              <button
                fxFlex
                mat-raised-button
                mat-button
                class="mat-accent compose-dialog-button"
                aria-label="Filter"
                (click)="resetFilter()"
              >
                {{ "VEHICLE.RESET_FILTER" | translate }}
              </button>
            </div>
          </form>

          <div class="p-24">
            <button
              fxFlex
              mat-raised-button
              mat-button
              class="mat-accent compose-dialog-button"
              aria-label="Filter"
              (click)="resetFilter()"
            >
              {{ "VEHICLE.RESET_FILTER" | translate }}
            </button>
          </div>
        </div>
      </div>
      <!-- / SIDENAV CONTENT -->
    </mat-sidenav>
    <!-- / SIDENAV -->

    <!-- CENTER -->
    <div class="center">
      <!-- CONTENT HEADER -->
      <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
        <div
          class="search-wrapper"
          fxLayout="row"
          fxLayoutAlign="start center">
          <button
            mat-button
            class="mat-icon-button sidenav-toggle"
            fuseMatSidenavToggler="carded-left-sidenav"
            fxHide.gt-md
            aria-label="Toggle Sidenav">
            <mat-icon>menu</mat-icon>
          </button>

        </div>

        <button mat-raised-button class="mat-white-bg" (click)="goToDetail()">
          <span>{{ "VEHICLE.ADD_NEW" | translate }}</span>
        </button>
      </div>
      <!-- / CONTENT HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card mat-white-bg">
        <mat-table
          id="entity-table"
          class="item-table"
          #table
          [dataSource]="dataSource"
          fusePerfectScrollbar
        >

          <!-- Name Column -->
          <ng-container cdkColumnDef="name">
            <mat-header-cell *cdkHeaderCellDef>{{
              "VEHICLE.NAME" | translate
            }}</mat-header-cell>
            <mat-cell *cdkCellDef="let element">
              <p class="text-truncate">
                {{ element.generalInfo.name }}
              </p>
            </mat-cell>
          </ng-container>

          <!-- Active Column -->
          <ng-container cdkColumnDef="state">
            <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-xs>{{
              "VEHICLE.ACTIVE" | translate
              }}</mat-header-cell>
            <mat-cell *cdkCellDef="let element" fxHide fxShow.gt-xs>
              <mat-icon *ngIf="element.state" class="active-icon mat-green-600-bg s-16">check</mat-icon>
              <mat-icon *ngIf="!element.state" class="active-icon mat-red-500-bg s-16">close</mat-icon>
            </mat-cell>
          </ng-container>

          <!-- Creation timestamp Column -->
          <ng-container cdkColumnDef="creationTimestamp">
              <mat-header-cell *cdkHeaderCellDef>{{
                "VEHICLE.CREATION_TIMESTAMP" | translate
              }}</mat-header-cell>
              <mat-cell *cdkCellDef="let element">
                <p class="text-truncate">
                  {{ element.creationTimestamp | date: "dd/MM/y HH:mm:ss" }}
                </p>
              </mat-cell>
          </ng-container>

          <!-- Creator user Column -->
          <ng-container cdkColumnDef="creatorUser">
              <mat-header-cell *cdkHeaderCellDef>{{
                "VEHICLE.CREATOR_USER" | translate
              }}</mat-header-cell>
              <mat-cell *cdkCellDef="let element">
                <p class="text-truncate">{{  element.creatorUser }}</p>
              </mat-cell>
          </ng-container>

          <!-- Last modification timestamp Column -->
          <ng-container cdkColumnDef="modificationTimestamp">
              <mat-header-cell *cdkHeaderCellDef>{{
                "VEHICLE.LAST_MODIFICATION_TIMESTAMP" | translate
              }}</mat-header-cell>
              <mat-cell *cdkCellDef="let element">
                <p class="text-truncate">
                  {{ element.modificationTimestamp | date: "dd/MM/y HH:mm:ss" }}
                </p>
              </mat-cell>
          </ng-container>

          <!-- Modifier user Column -->
          <ng-container cdkColumnDef="modifierUser">
              <mat-header-cell *cdkHeaderCellDef>{{
                "VEHICLE.MODIFIER_USER" | translate
              }}</mat-header-cell>
              <mat-cell *cdkCellDef="let element">
                <p class="text-truncate">{{  element.modifierUser }}</p>
              </mat-cell>
          </ng-container>  


          <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

          <mat-row
            *cdkRowDef="let row; columns: displayedColumns"
            class="selectedElement"
            (click)="selectvehicleRow(row)"
            [ngClass]="{
              highlight:
              selectedVehicle &&
              selectedVehicle._id == row._id
            }"
            [routerLink]="row._id"
            matRipple
          >
          </mat-row>
        </mat-table>
        <mat-paginator
          #paginator
          [length]="tableSize"
          [pageIndex]="tablePage"
          [pageSize]="tableCount"
          [pageSizeOptions]="[5, 10, 25, 100]"
        >
        </mat-paginator>
      </div>
      <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
  </mat-sidenav-container>
</div>
